
// color variables
$bare: rgb(233, 233, 233);
$light: rgb(252, 244, 232);
$medium: rgb(209, 203, 195);
$dark: rgb(172, 167, 159);
$pitch: rgb(59, 58, 54);
$vibrant:rgb(252, 191, 101) ;
$rich: rgb(255, 153, 0) ;
$proceed: rgb(80, 219, 76);
$decline:rgb(255, 75, 75) ;





